<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{224,145}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,145}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{224,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,143}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{224,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,143}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
            <key>btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,143}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{226,143}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
            <key>btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{224,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,143}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
            <key>btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{222,143}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{222,143}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
            <key>btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{224,145}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,145}}</string>
                <key>sourceSize</key>
                <string>{234,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9695e4936b50668bc3e762ee1b3c49$</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
